body {
	font-family: "Source Sans Pro", serif;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	display: inline-block;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

h1, h2, h3 {
	font-family: "Ek Mukta", serif;
}

h1 {
	text-transform: uppercase;
}

#home {
	height: auto;
	width: auto;
	max-height: 69px;
	max-width: 80px;
	float: left;
}

#content {
	float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.portrait {
	max-width: 100%;
	height: auto;
}