* { margin:0; padding:0; box-sizing: border-box; }

body {
	font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3 {
	font-family: "Oswald", sans-serif;
}

h1, h2 {
	text-transform: uppercase;
}

header {
	background-color: #e5e5e5;
	padding: 20px;
}

#nav-top {
	float: right;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	word-spacing: 2em;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #575757;
	text-decoration: none;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	display: inline-block;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

#sponsor-top-title {
	text-transform: uppercase;
}

#home {
	height: auto;
	width: auto;
	max-height: 69px;
	max-width: 80px;
	float: left;
}

#content {
	float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img.portrait {
	max-width: 100%;
}
