* { margin:0; padding:0; box-sizing: border-box; }

body {
	font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3 {
	font-family: "Oswald", serif;
}

h1, h2 {
	text-transform: uppercase;
}

header {
	padding: 20px;
}

#nav-top {
	background-color: #E8C66A;
	border: 1px black solid;
	float: right;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	display: inline-block;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

#sponsor-top-title {
	text-transform: uppercase;
}

#home {
	height: auto;
	width: auto;
	max-height: 69px;
	max-width: 80px;
	float: left;
}

#content {
	float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img.portrait {
	max-width: 100%;
}
