body {
	text-align: center;
	background: url("http://i.imgur.com/cRAHQli.jpg");
	background-size: cover;
	background-color: #c6bfb5;
	color: #ffffff;
	font-family: "Brandon Grotesque", Helvetica, sans-serif;
}

#logo {
	width: 15%;
	height: 15%;
	display: inline-block;
	margin: 20px;
}

#slogan {
	font-size: 16px;
	text-shadow: 2px 2px #646464;
}

a {
	color: #c6bfb5;
}