body {
	text-align: center;
	background: url("http://imgur.com/a/SLS6S");
	color: #ffffff;
	font-family: "Brandon Grotesque", Helvetica, sans-serif;
}

#logo {
	width: 15%;
	height: 15%;
	display: inline-block;
	margin: 20px;
}

#slogan {
	font-size: 16px;
	text-shadow: 2px 2px #646464;
}

a:visited {
	color: #cdcdcd;
}