body {
	text-align: center;
}

#logo {
	width: 150px
	height: 150px
	display: inline-block;
	margin: 20px;
}

#slogan {
	text-shadow: 2px 2px #646464;
}

#background {
	background-size: cover;
}

p {
	color: #ffffff;
	font-family: "Brandon Grotesque";
	src: url(fonts/brandon_reg.otf);
}

a {
	color: #ffffff;
}

a:visited {
	color: #cdcdcd;
}